/*1-Edicion de la barra de navegacion*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--quaternary-color);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--tertiary-color);
}
/*1*/

/*2-Cambio de color de la seleccion de texto*/
*::selection {
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
}
 
*::-moz-selection {
    background-color:var(--quaternary-color);
    color:var(--tertiary-color);
}
/*2*/

:root{
    --primary-color: #3b4a6b;
    --secundary-color: #22b2da;
    --tertiary-color: #f0d43a;
    --quaternary-color: #f23557;

    --black: #000000;
    --whi : #f7f7f7;
}

/*3-estos 3 elementos son super importantes ya que formatean las caracteristicas del navegador*/
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/*3*/

html{
    font-size: 62.5%;

}
body{
    font-size: 1.6rem;
    /**/overflow-x:hidden;
    background-color: rgb(247, 247, 247);
}

header{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 8rem;
    background: rgb(71,228,187);
    background: radial-gradient(circle, rgba(71,228,187,1) 17%, rgba(1,210,142,1) 50%, rgba(64,167,152,1) 90%);
  /*background: rgba(255,255,255,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    backdrop-filter: blur(11px);
    border-bottom: 1px solid rgba(255,255,255,0.25);*/
    justify-content: center;
    align-items: center;
    /**/overflow-x:hidden;
}

nav{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content:space-between;
    align-items: center;
}


#burger-menu{
    width: 27px;
    height: 27px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 24px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after{
    background: white;
    display: block;
    height: 4px;
    position: absolute;
    
    transition: all 300ms ease;
}

#burger-menu span:before,
#burger-menu span:after{
    content: '';
}

#burger-menu span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#burger-menu span:before{
    left: 0px;
    top: -10px;
    width: 27px;
}

#burger-menu span:after{
    left: 0px;
    top: 10px;
    width: 27px;
}

#burger-menu.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: red;
}


#burger-menu.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: red;
}

#burger-menu.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
    transition: all 300ms ease; 
}

#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 130px;
    background: rgba(0,0,0,0.9);
}

#menu li{
    font-family: Helvetica, sans-serif;
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
}

#menu li:hover{
    letter-spacing: 4px;
}

#menu li a{
    color: white;
    display: block;
    font-size: 3.2rem;
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
    
}

#menu li a:hover:before{
    opacity: 1;
    transform: scale(1);

}

.nav-logo{
    width: 6rem;
    height: 6rem;
    /*border: white solid 1px;*/
    background-image: url(../imgs/rweb.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*cursor: pointer;*/
}

.nav-logo:hover{
    transition: 6s;
    transform: scale(1.3, 1.3);
    filter: brightness(130%);
}

.nav-btn-love{
    width: 6rem;
    height: 8rem; /*antes auto, ahora 8rem y por considerar*/
    /*border: white solid 1px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.fa-heart{
    font-size: 3.8rem;
    cursor: pointer;
    -webkit-text-stroke: 2px var(--whi);
    color: transparent;
}

.fa-heart:hover{
    color: var(--whi);
    cursor: pointer;
    transition: 0.5s;
}

.button{
    transition-duration: 0.4s;
    background-color: transparent;
    border-style: none;
}

#incrementText{
    position: absolute;
    top: 12px;
    margin-left: 39px;
    justify-content: center;
    font-size: 1.1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--quaternary-color);
    border-radius: 20px;
    padding: 3px 3px;
    text-align: center;
}

/*con esta declaracion estilamos la linea 38 de html para que salga la imagen de corazon
.corazon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url(../imgs/corazon.svg);

    /*text-shadow: 30px 30px;
}*/




/*---------C O N T E N I D O-----------*/

.main-container{
    width: 100%;
    height: auto;
    padding-top: 7.5rem;
    border: var(--quaternary-color) solid 1px;
}

.main-container-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: var(--quaternary-color) solid 1px;
}

.main-container-img{
    align-self: center;
    width: 100%;
    height: 20rem;
    border: var(--black) 1px solid;
}

.main-container-text_box{
    width: 80%;
    text-align: center;
    align-self: center;
    margin-top: -4.6rem;
    margin-bottom: 3rem;
    font-family: Helvetica, sans-serif;
    color: var(--bla);
}


.main-container-text_box h1{
    font-size: 4rem;
}

.main-container-moduls{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: var(--quaternary-color) solid 1px;
}

.uno{
    width: 100%;
    height: 20rem;
    border: var(--quaternary-color) solid 1px;
}
.dos{
    width: 100%;
    height: 20rem;
    border: var(--quaternary-color) solid 1px;
}

.tres{
    width: 100%;
    height: 20rem;
    border: var(--quaternary-color) solid 1px;
}

.cuatro{
    width: 100%;
    height: 20rem;
    border: var(--quaternary-color) solid 1px;
}

/*---------C O N T E N I D O-----------*/
footer{
    padding-top: 8rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 480px;

    background-color: var(--black);
}

footer > div{
    margin: 2rem auto;
}

.footer-info{
    align-self: center;
    width: 200px;
    min-width: 200px;
    max-width: 525px;
    height: 3rem;
    border: var(--whi) solid 1px;
    margin-top: 1rem;
}

.footer-logo{
    align-self: center;
    width: 80%;
    height: 13rem;
    border: var(--whi) solid 1px;
    margin-top: 3rem;
}

.footer-redes{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;

    margin-top: 5rem;
    width: 80%;
    max-width: 400px;
    height: auto;
    /*border: var(--primary-color) solid 1px;*/
}

.footer-redes .icon{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: space-around;
    margin: 0 auto;
}

.fab{
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 3rem;
    cursor: pointer;
    color: var(--whi);

}

.fab:hover{
    cursor: pointer;
    color: rgb(71,228,187);
}

.footer-power{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 200px;
    min-width: 200px;
    max-width: 525px;
    height: auto;
    margin-bottom: 2rem;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: var(--whi);
}








@media (min-width:768px){


    .main-container{
        width: 100%;
        height: auto;
        background-color: #e7c3c9;
        padding-top: 7.5rem;
        border: var(--quaternary-color) solid 1px;
    }
    
    .main-container-one{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: var(--quaternary-color) solid 1px;
        background-color: #f199a7 ;
    }
    
    .main-container-img{
        align-self: center;
        width: 100%;
        height: 20rem;
        border: #f23557 solid 1px;
        background-color: #fa5d77;
    }
    
    .main-container-text_box{
        width: 80%;
        text-align: center;
        align-self: center;
        margin-top: -4.6rem;
        margin-bottom: 3rem;
        font-family: Helvetica, sans-serif;
        color: white;
    }
    
    .main-container-text_box h1{
        font-size: 5rem;
    }
    
    .main-container-moduls{
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 120rem;
        height: auto;
        flex-direction: row;
        border: var(--quaternary-color) solid 1px;
    }
    
    .uno{
        width: 50%;
        height: 20rem;
        border: var(--quaternary-color) solid 1px;
    }
    .dos{
        width: 50%;
        height: 20rem;
        border: var(--quaternary-color) solid 1px;
    }
    
    .tres{
        width: 50%;
        height: 20rem;
        border: var(--quaternary-color) solid 1px;
    }
    
    .cuatro{
        width: 50%;
        height: 20rem;
        border: var(--quaternary-color) solid 1px;
    }


}









@media (min-width:1024px){

    main{
        /**/overflow:hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 320px;
        max-width: 2000px;
        height: auto;
        margin: 0 auto;
    }

    main .main-one-landing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 4.8rem;
        margin-bottom: 5rem;
    }

    .main-name{
        margin-top: -19rem;
        padding-top: 0rem;
        padding-left: 8rem;
        width: 40%;
        max-width: 410px;
        height: auto;
        text-align: justify;
        margin-bottom: -3rem;
    }

    .main-name > h1{
        text-align: center;
        font-family: Helvetica, sans-serif;
    
        font-size: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 6.5rem;
        letter-spacing: 0rem;
    }

    .main-anim{
        border: var(--secundary-color) solid 1px;
        
        width: 50%;
        height: 550px;
        margin-left: px;
        margin-right: 0;
        margin-top: 1.4rem;
        justify-content:right;
    }

    .main-wel{
        position: relative;
        display: block;
        width: 31%;
        max-width: 335px;
        height: auto;
        justify-content:left;
        left: auto;
        right: 26.5%;
        top:-100%;
        margin-top: -35rem;
    }


    /*.main-wel{
        position: relative;
        display: block;
        width: 31%;
        max-width: 300px;
        height: auto;
        justify-content:left;
        left: auto;
        right: 21%;
        top:-100%;
        margin-top: -18rem;
    }*/
    
    .main-wel > P{
        text-align:justify;
        font-family: sans-serif;
    }
    
    main section div h2{
        font-size: 2rem;
        font-family:monospace;
        margin-top: 1rem;
        letter-spacing: 20px;
        text-align: center;
        margin-left: 20px;
    }

    .main-wel p:first-of-type{
        margin-top: 2.4rem;
    }





    main .main-two-landing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: var(--primary-color);
        padding-bottom: 11rem;
    }
    
    section .ux{
        text-align: center;
        align-self: center;
        width: 100%;
        height: auto;
        color: white;
        padding-top: 10rem;
        padding-bottom: 3rem;
        line-height: 2.5rem;
        font-family: Helvetica, sans-serif;
    }
    
    .ux h4{
        font-size: 8rem;
    }
    
    .animux{
        opacity: 0;
        transition: all 0.5s;
    }
    
    .mostrarArriba{
        animation: mostrarArriba 1s;
    }
    
    @keyframes mostrarArriba{
        0%{
            transform: translateY(60px);
        }
        100%{
            transform: translateY(0);
        }
    }
    
    section .imgux{
        align-self: center;
        width: 50%;
        height: 35rem;
        border: var(--tertiary-color) solid 1px;
        color: white;
    }
    
    section .textux{
        align-self: center;
        width: 50%;
        height: auto;
        color: white;
        padding: 2.5rem 4rem;
        line-height: 1.5rem;
        font-family: Helvetica, sans-serif;
        text-align: justify;
    }

    .main-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    
    }
    
    .btn-ver{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 50px;
        color: var(--tertiary-color);
        border: var(--tertiary-color) solid 3px;
        border-radius: 100px;
        text-align: center;
        font-size: 1.8rem;
        font-family: Helvetica, sans-serif;
        margin-bottom: 3rem;
    }
    
    .btn-ver:hover{
        color: var(--primary-color);
        background-color: var(--tertiary-color);
        transition: .5s;
    }
    
    section > a{
        text-decoration: none;
    }
    
    .fa-arrow-right{
        padding-left: 1rem;
    }








    main .main-three-landing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: var(--quaternary-color);
        padding-bottom: 11rem;
    }
    
    section .anima{
        text-align: center;
        align-self: center;
        width: 80%;
        height: auto;
        color: white;
        padding-top: 10rem;
        padding-bottom: 3rem;
        line-height: 1.5rem;
        font-family: Helvetica, sans-serif;
    }
    
    .anima h5{
        font-size: 6rem;
    }
    
    section .imation{
        align-self: center;
        width: 50%;
        height: 35rem;
        border: var(--tertiary-color) solid 1px;
        color: white;
        order: 3;
    }
    
    section .textion{
        align-self: center;
        width: 50%;
        height: auto;

        color: white;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        line-height: 1.5rem;
        font-family: Helvetica, sans-serif;
        text-align: justify;
        padding: 2.5rem 4rem;
        order: 2;
    }







    main .main-four-landing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: rgb(44, 44, 44);
        padding-bottom:11rem;
    }
    
    section .blog{
        text-align: center;
        align-self: center;
        width: 80%;
        height: auto;
        color: white;
        padding-top: 10rem;
        padding-bottom: 8rem;
        line-height: 1.5rem;
        font-family: Helvetica, sans-serif;
    }
    
    .blog h6{
        font-size: 6rem;
    }
    
    section .imablog{
        align-self: center;
        width: 50%;
        height: 35rem;
        border: var(--tertiary-color) solid 1px;
        color: white;
    }
    
    section .texblog{
        align-self: center;
        width: 50%;
        height: auto;
        color: white;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        line-height: 1.5rem;
        font-family: Helvetica, sans-serif;
        text-align: justify;
        padding: 2.5rem 4rem;
    }








    footer{
        padding-top: 4rem ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-width: 320px;
        height: 550px;

        background-color: var(--tertiary-color);
    }
    

}

