/*1-Edicion de la barra de navegacion*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--quaternary-color);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--tertiary-color);
}
/*1*/

/*2-Cambio de color de la seleccion de texto*/
*::selection {
    background-color: var(--G-sec);
    color: var(--whi);
}
 
*::-moz-selection {
    background-color: var(--G-sec);
    color: var(--whi);
}
/*2*/

:root{
    --primary-color: #3b4a6b;
    --secundary-color: #22b2da;
    --tertiary-color: #f0d43a;
    --quaternary-color: #f23557;

    --black: #000000;
    --whi : #f7f7f7;

    --G-prim: #40a798;
    --G-sec: #01d28e;
    --G-thir: #47e4bb;
        
    --title1: 3rem;
    --title2: 2rem;

}

/*3-estos 3 elementos son super importantes ya que formatean las caracteristicas del navegador*/
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/*3*/

html{
   zoom: 100%;
   font-size: 62.5%;

}
body{
    font-size: 1.6rem;
    font-family: Helvetica, sans-serif;
    /**/overflow-x:hidden;
    background-color: var(--whi);
}

header{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 8rem;
    background: rgb(71,228,187);
    background: radial-gradient(circle, #47e4bb 17%, #01d28e 50%, #40a798 90%);
  /*background: rgba(255,255,255,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    backdrop-filter: blur(11px);
    border-bottom: 1px solid rgba(255,255,255,0.25);*/
    justify-content: center;
    align-items: center;
    /**/overflow-x:hidden;
}

nav{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content:space-between;
    align-items: center;
}


#burger-menu{
    width: 27px;
    height: 27px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 24px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after{
    background: var(--whi);
    display: block;
    height: 4px;
    position: absolute;
    
    transition: all 300ms ease;
}

#burger-menu span:before,
#burger-menu span:after{
    content: '';
}

#burger-menu span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#burger-menu span:before{
    left: 0px;
    top: -10px;
    width: 27px;
}

#burger-menu span:after{
    left: 0px;
    top: 10px;
    width: 27px;
}

#burger-menu.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: red;
}


#burger-menu.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: red;
}

#burger-menu.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
    transition: all 300ms ease; 
}

#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 130px;
    background: rgba(0,0,0,0.9);
}

#menu li{
    font-family: Helvetica, sans-serif;
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
}

#menu li:hover{
    letter-spacing: 4px;
}

#menu li a{
    color: white;
    display: block;
    font-size: 3.2rem;
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
    
}

#menu li a:hover:before{
    opacity: 1;
    transform: scale(1);

}

.nav-logo{
    width: 6rem;
    height: 6rem;
    /* margin-left: 1.4rem; */
    /*border: white solid 1px;*/
    background-image: url(../imgs/rweb.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition-duration: 6s;
    /*cursor: pointer;*/
}

.nav-logo:hover{
    
    transform: scale(1.3, 1.3);
    filter: brightness(130%);
}

.nav-btn-love{
    width: 6rem;
    height: 8rem; /*antes auto, ahora 8rem y por considerar*/
    /*border: white solid 1px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.fa-heart{
    font-size: 3.8rem;
    cursor: pointer;
    -webkit-text-stroke: 2px var(--whi);
    color: transparent; 
}

.fa-heart:hover{
    color: var(--whi);
    cursor: pointer;
    transition: 0.5s;
}

.button{
    transition-duration: 0.4s;
    background-color: transparent;
    border-style: none;
}

#incrementText{
    position: absolute;
    top: 12px;
    margin-left: 39px;
    justify-content: center;
    font-size: 1.1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--quaternary-color);
    border-radius: 20px;
    padding: 3px 3px;
    text-align: center;
}

/*con esta declaracion estilamos la linea 38 de html para que salga la imagen de corazon
.corazon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url(../imgs/corazon.svg);

    /*text-shadow: 30px 30px;
}*/

main{
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding-top: 2rem;
}

main .main-one-landing{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 75vh;
    margin-top: 8rem;
    /* margin-bottom: 3rem; */
}

.title{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}

.title p{
    font-size: 6rem;
    font-weight: bolder;
    color: var(--G-prim);
}

.box-text{
    width: 100%;
    height: 25%;
    text-align: justify;
}

.vid{
    display: flex;
    justify-content:center;
    width: 80%;
    height: 40%;
}

.vid video{
    width: 80%;
}

.formu{
    width: 100%;
    height: 30%;
    margin-top: 3rem;
}

input{
    background: none;
    color:var(--G-prim);
    font-size: 2rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--G-prim);
}

input:focus{
    outline: none;
    color: var(--G-prim);
}

label{
    color: var(--G-thir);
    font-size: 16px;
    position: relative;
    left: 5px;
    top: -28px;
    transition: 0.4s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -60px;
    font-size: 12px;
    color: var(--G-prim);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0;
    position: absolute;
    background: var(--G-thir);
    transition: 0.3s ease width;
    left: 0;
}


input:focus~.barra::before{
    width: 100%;
}

.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 240px;
    height: 50px;
    color: var(--black);
    border: var(--black) solid 3px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    transition-duration: 0.4s;

    margin: .1rem auto;
}

.enviar:hover{
    background-color: var(--black);
    color: var(--whi);
  
}


@media (min-width:768px){


}

@media (min-width:1024px){

    
}

