/*1-Edicion de la barra de navegacion*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--quaternary-color);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--tertiary-color);
}
/*1*/

/*2-Cambio de color de la seleccion de texto*/
*::selection {
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
}
 
*::-moz-selection {
    background-color:var(--quaternary-color);
    color:var(--tertiary-color);
}
/*2*/

:root{
    --primary-color: #3b4a6b;
    --secundary-color: #22b2da;
    --tertiary-color: #f0d43a;
    --quaternary-color: #f23557;

    --black: #000000;
    --whi : #f7f7f7;

}

/*3-estos 3 elementos son super importantes ya que formatean las caracteristicas del navegador*/
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/*3*/

html{
    font-size: 62.5%;

}
body{
    font-size: 1.6rem;
    /**/overflow-x:hidden;
    background-color: var(--whi);
}

header{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 8rem;
    background: rgb(71,228,187);
    background: radial-gradient(circle, #47e4bb 17%, #01d28e 50%, #40a798 90%);
  /*background: rgba(255,255,255,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    backdrop-filter: blur(11px);
    border-bottom: 1px solid rgba(255,255,255,0.25);*/
    justify-content: center;
    align-items: center;
    /**/overflow-x:hidden;
}

nav{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content:space-between;
    align-items: center;
}


#burger-menu{
    width: 27px;
    height: 27px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 24px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after{
    background: var(--whi);
    display: block;
    height: 4px;
    position: absolute;
    
    transition: all 300ms ease;
}

#burger-menu span:before,
#burger-menu span:after{
    content: '';
}

#burger-menu span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#burger-menu span:before{
    left: 0px;
    top: -10px;
    width: 27px;
}

#burger-menu span:after{
    left: 0px;
    top: 10px;
    width: 27px;
}

#burger-menu.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: red;
}


#burger-menu.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: red;
}

#burger-menu.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
    transition: all 300ms ease; 
}

#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 130px;
    background: rgba(0,0,0,0.9);
}

#menu li{
    font-family: Helvetica, sans-serif;
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
}

#menu li:hover{
    letter-spacing: 4px;
}

#menu li a{
    color: white;
    display: block;
    font-size: 3.2rem;
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
    
}

#menu li a:hover:before{
    opacity: 1;
    transform: scale(1);

}

nav{
    background-color: transparent;
    box-shadow:none;
    line-height: 12px;
}

.nav-logo{
    width: 6rem;
    height: 6rem;
    /* margin-left: 1.4rem; */
    /*border: white solid 1px;*/
    background-image: url(../imgs/rweb.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition-duration: 6s;
    /*cursor: pointer;*/
}

.nav-logo:hover{
    
    transform: scale(1.3, 1.3);
    filter: brightness(130%);
}

.nav-btn-love{
    width: 6rem;
    height: 8rem; /*antes auto, ahora 8rem y por considerar*/
    /*border: white solid 1px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.fa-heart{
    font-size: 3.8rem;
    cursor: pointer;
    -webkit-text-stroke: 2px var(--whi);
    color: transparent; 
}

.fa-heart:hover{
    color: var(--whi);
    cursor: pointer;
    transition: 0.5s;
}

.button{
    transition-duration: 0.4s;
    background-color: transparent;
    border-style: none;
}

#incrementText{
    position: absolute;
    top: 12px;
    margin-left: 39px;
    justify-content: center;
    font-size: 1.1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--quaternary-color);
    border-radius: 20px;
    padding: 3px 3px;
    text-align: center;
}

.main-container{
    width: 100%;
    height: auto;
    padding-top: 7.5rem;
    /* border: var(--quaternary-color) solid 1px; */
}

.main-container-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.main-container-img{
    align-self: center;
    width: 100%;
    height: 20rem;
    border: var(--primary-color) 1px solid;
}

.main-container-text_box{
    width: 80%;
    text-align: center;
    align-self: center;
    margin-top: -2.6rem;
    font-family: Helvetica, sans-serif;
    color: var(--black);
}

.main-container-text_box h1{
    font-size: 4.2rem;
    margin: -0.2rem 0 1.68rem 0;
}

.textux{
    width: 80%;
    height: auto;
    color: var(--black);
    line-height: 1.8rem;
    font-family: Helvetica, sans-serif;
    text-align: justify;
    /* border: tomato solid 1px; */
    margin-top: 3.5rem;
    margin-bottom: 5.5rem;
}

/* aqui empiezan los estilos del framework materialize para la galeria */

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .materialbox-caption {
         width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
         width: 70%;
    }
}